:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@theme inline {
  --font-sans: 'poppins';
}

body {
  position: relative;
  color: var(--foreground);
  background-color: #ebe8e2;
  opacity: 1;
  background-image:
    linear-gradient(
      #c1beb9 3.8000000000000003px,
      transparent 3.8000000000000003px
    ),
    linear-gradient(
      90deg,
      #c1beb9 3.8000000000000003px,
      transparent 3.8000000000000003px
    ),
    linear-gradient(
      #c1beb9 1.9000000000000001px,
      transparent 1.9000000000000001px
    ),
    linear-gradient(
      90deg,
      #c1beb9 1.9000000000000001px,
      #ebe8e2 1.9000000000000001px
    );
  background-size:
    95px 95px,
    95px 95px,
    19px 19px,
    19px 19px;
  background-position:
    -3.8000000000000003px -3.8000000000000003px,
    -3.8000000000000003px -3.8000000000000003px,
    -1.9000000000000001px -1.9000000000000001px,
    -1.9000000000000001px -1.9000000000000001px;
}
